.section-hr {
  color: #cccccc;
  width: 250px;
  height: 0px;
  border-style: solid;
  border-top: thin;
  margin: {
    top: 5px;
    bottom: 5px;
  }
}

input[type="submit"], input[type="button"] {
  $button-color: #1793d1; // blue
  // $button-color: #1e8736; // green

  margin: {
    top: 5px;
  }

  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;

  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, $button-color, color-stop(1, darken($button-color, 20%))));
  background: -moz-linear-gradient( center top, $button-color 5%, darken($button-color, 20%) 100% );
  background-color: $button-color;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  border: 0px;
  display: inline-block;

  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;

  &:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, darken($button-color, 20%)), color-stop(1, $button-color));
    background: -moz-linear-gradient( center top, darken($button-color, 20%) 5%, $button-color 100% );
    background-color: darken($button-color, 20%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
