/* all the mixins we will need */

@mixin shadow {
  $h: 3px;
  $v: 3px;
  $blur: 5px;
  $spread: 6px;
  $color: black;

  -moz-box-shadow: $h $v $blur $spread $color;
  -webkit-box-shadow: $h $v $blur $spread $color;
  box-shadow: $h $v $blur $spread $color;
}

