$footer-size: 40px;

* { 
  margin: 0;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-family: Helvetica;
  }
}

.everything-but-footer {
  min-height: 100%; 
}

.nav_content {
  overflow: auto;
  padding-bottom: $footer-size;
}

footer {
  position: relative;
  margin-top: -$footer-size;
  height: $footer-size;
  clear: both;
}

