@import "mixins", "sticky_footer", "misc";

$background-color: #000000;

h, p {
  font-family: Arial;
}

header {
  background: $background-color;

  margin: {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  padding-top: 50px;

  height: auto;

  background: -moz-linear-gradient(top, #444444, #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000));

  @include shadow;

  h1 {
    padding: {
      bottom: 0.2em;
      left: 135px;;
    }

    color: #ffffff;
  }
}

footer {
  hr {
    color: #cccccc;
    width: 80%;
    height: 0px;
    border-style: solid;
    border-top: thin;
    margin: auto;
  }

  p {
    color: #aaaaaa;
    font-size: 11px;
    text-align: center;
    
    padding: {
      top: 5px;
    }
  }
}



a {
  color: #1793d1;
  text-decoration: none;
  list-style: none;
}


.nav_content {
  nav {
    float: left;

    @include shadow;

    margin: {
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 30px;
    }

    ul {
      background-color: $background-color;
      list-style-type: none;

      padding: {
        left: 1em;
        right: 1em;
        top: 0.5em;
        bottom: 0.5em;
      }
    }

    li {
      $li-margin: 5px;
      text-align: left;
      margin: {
        top: $li-margin;
        bottom: $li-margin;
      }

      a {
        font-size: 14px;
        color: #ffffff;
      }
    }
  }

  .content {
    margin: {
      left: 10em;
    }

    h3 {
      font-size: 32px;
      margin: {
        bottom: 8px;
        top: 20px;
      }
      
      padding: {
        top: 0px;
        bottom: 0px;
      }
    }

    p {
      color: #202020;
      font-size: 16px;
    }
  }
}
