/* all the mixins we will need */
* {
  margin: 0; }

html {
  height: 100%; }
  html body {
    height: 100%;
    font-family: Helvetica; }

.everything-but-footer {
  min-height: 100%; }

.nav_content {
  overflow: auto;
  padding-bottom: 40px; }

footer {
  position: relative;
  margin-top: -40px;
  height: 40px;
  clear: both; }

.section-hr {
  color: #cccccc;
  width: 250px;
  height: 0px;
  border-style: solid;
  border-top: thin;
  margin-top: 5px;
  margin-bottom: 5px; }

input[type="submit"], input[type="button"] {
  margin-top: 5px;
  -moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1793d1, color-stop(1, #0d5275)));
  background: -moz-linear-gradient(center top, #1793d1 5%, #0d5275 100%);
  background-color: #1793d1;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 0px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none; }
  input[type="submit"]:hover, input[type="button"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d5275), color-stop(1, #1793d1));
    background: -moz-linear-gradient(center top, #0d5275 5%, #1793d1 100%);
    background-color: #0d5275; }
  input[type="submit"]:active, input[type="button"]:active {
    position: relative;
    top: 1px; }

h, p {
  font-family: Arial; }

header {
  background: black;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 50px;
  height: auto;
  background: -moz-linear-gradient(top, #444444, black);
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  -moz-box-shadow: 3px 3px 5px 6px black;
  -webkit-box-shadow: 3px 3px 5px 6px black;
  box-shadow: 3px 3px 5px 6px black; }
  header h1 {
    padding-bottom: 0.2em;
    padding-left: 135px;
    color: #ffffff; }

footer hr {
  color: #cccccc;
  width: 80%;
  height: 0px;
  border-style: solid;
  border-top: thin;
  margin: auto; }
footer p {
  color: #aaaaaa;
  font-size: 11px;
  text-align: center;
  padding-top: 5px; }

a {
  color: #1793d1;
  text-decoration: none;
  list-style: none; }

.nav_content nav {
  float: left;
  -moz-box-shadow: 3px 3px 5px 6px black;
  -webkit-box-shadow: 3px 3px 5px 6px black;
  box-shadow: 3px 3px 5px 6px black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 30px; }
  .nav_content nav ul {
    background-color: black;
    list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
  .nav_content nav li {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px; }
    .nav_content nav li a {
      font-size: 14px;
      color: #ffffff; }
.nav_content .content {
  margin-left: 10em; }
  .nav_content .content h3 {
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 0px; }
  .nav_content .content p {
    color: #202020;
    font-size: 16px; }
