<h3><%= @title %></h3>
<p>The sessions are offered on a per-hour basis.  Discounted packages are also offered as mentioned below:</p>
<br />
<p>per-hour sessions: $35/hr with flexible schedule.</p>
<p>9 session package: $335: includes 9 sessions and covers a total of 35 cases.</p>
<p>6 session package: $235: includes 6 sessions and covers a total of 25 cases.</p>
<br />
<p>Please note that sessions are taught through Skype™ only.</p>
<br />
<p>The sessions include all of the High Yield and UW cases.  Some important cases not covered by these sources are also emphasized which are necessary to be practiced.</p>
