<h3>Contact information</h3>
<p>You can contact me either through email or Skype.</p>
<br />
<br />

<hr class="section-hr" />
<p>Email:</p>
<%= mail_to "coach@sajdahcs2coaching.com" %></p>
<br />
<br />

<hr class="section-hr" />
<p>Skype (id: md_cs2):</p>
<!-- Skype 'Skype Me!' button http://www.skype.com/go/skypebuttons -->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<form><input type="button" value="Call me" onclick="window.location.href='skype:md_cs2?call'" /></form>
<%# <a href="skype:md_cs2?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_white_124x52.png" style="border: none;" width="124" height="52" alt="Skype Me™!" /></a> %>
