<h3><%= @title %></h3>
<p>Highly experienced tutor and coach for USMLE Step 2 Clinical Skills test.  If you want to pass the USMLE Step 2 CS exam on the first attempt, do not hesitate to join my CS 2 coaching classes.</p>
<br />
<p>The sessions are guaranteed to prepare you well for the ultimate clinical skills test.  You will see a big improvement in how you handle the test after the first session of my demonstration.</p>
<br />
<p>I have been coaching Step 2 CS since 2008 and 98% of my students have passed on the first attempt.</p>
