<h3><%= @title %></h3>

<!-- Outline of the course -->
<p>This course is taught exactly according to the ECFMG recommendation given on <a href="http://www.ecfmg.org">ecfmg.org</a>.  The patient encounter is subdivided into multiple sections and each section is covered in detail.  Please note that I emphasize and focus on the sensitive and score-gaining and also potentially exam-failing areas.  The following gives a brief outline of the material/skills covered during the sessions:</p>
<p></p>
<br />
<ul class="outline">
  <li>Professional introduction</li>
  <li>Asking questions during hand-washing</li>
  <li>
    History taking
    <ul class="sub-outline">
      <li>covers C.I.S.</li>
      <li>Professional data gathering (I.C.E.) skills</li>
    </ul>
  </li>
  <li>Handling an uncooperative patient</li>
  <li>Understanding triggers for empathy</li>
  <li>Professional question-asking techniques</li>
  <li>Information sharing</li>
  <li>Closure</li>
  <li>Counseling
    <li>A crucial part of the encounter for passing the Step 2 CS</li></li>
  <li>Patient note</li>
</ul>
<br />
<br />

<!-- Tips section -->
<hr class="section-hr" />
<p>Here are a few tips to help you get started thinking about proper encounter techniques:</p>
<br />
<ul class="outline">
  <li>
    Never use medical jargon
    <ul class="sub-outline">
      <li>Never ask a patient whether he/she has had a colonoscopy</li>
    </ul>
  </li>
  <li>If you have repeated a question by mistake, apologize and mention that you only wanted to clarify</li>
  <li>When starting to ask about past medical history, use a transitioning sentence</li>
  <li>When opening sub-history, ask the patient whether he/she has had the same complaint before</li>
  <li>If the complaint runs in the family, show care and empathy and then elaborate on it</li>
  <li>Be focused at all time: use the allocated time wisely and efficiently</li>
</ul>
<br />
<br />

<!-- Closure -->
<hr class="section-hr" />
<p>And the following deals with the closure section of the encounter:</p>
<br />
<ul class="outline">
  <li>Summarizing findings about the patient</li>
  <li>Displaying differetials</li>
  <li>Work-up plan</li>
  <li>What not to say during closure</li>
  <li>Counseling the patient if required</li>
  <li>Professionally closing the encounter</li>
</ul>
<br />
<br />

<!-- Counseling -->
<hr class="section-hr" />
<p>The following are only a few of many counseling points covered in the sessions:</p>
<br />
<ul class="outline">
  <li>Adult
    <li>Smoking</li>
    <li>Safe sexual practice</li>
    <li>Depression</li>
    <li>Insomnia</li>
    <li>Weight gain/loss</li>
    <li>Drinking problems</li> 
  </li>

  <li>Pediactric
    <li>Picky eater</li>
    <li>Bed wetting</li>
    <li>Fever</li>
    <li>Diarrhea</li>
  </li>
</ul>
<br />
<br />

