<h3><%= @title %></h3>
<p>From Ko Ko T</p>
<p>I'd like to thank you for the practice sessions. I got my CS exam results a few days ago. You were right about recommending me to take a few days off from work to practice intensively. That helped me a lot in passing the exam.</p>
<br /><br />

<hr class="section-hr" />
<p>From ShweYee:</p>
<p>Hi Farat, i got the result,, i pass</p>
<br />
<br />

<hr class="section-hr" />
<p>From Pooja S:</p>
<p>I got my cs result and i passed my exam.Thank u for ur help and guidance for me</p>
<br />
<br />

<hr class="section-hr" />
<p>From Aisha N:</p>
<p>I just have to share some good news with you. I received my CS result yesterday and ... Passed it!!!<br />
Farah I would like to take this opportunity to thank you for all your time and patience with me. You taught me everything I know from the basics to the patient note.<br />
Also, thank you for believing in me... Even when I didn't. You were so confident and sure that I would pass.. That gave me so much strength. I would just close my eyes and think about you. I know u gave me so much extra time and I'm very grateful for each and every minute. From the bottom of my heart, thank you for everything.<br />
I would like to ask you- if you still tutor students for CS, I can vouch and give a good recommendation to other students... Via email or skype even. Please let me know if I can be of any assistance to you.<br />
Farah, thank you is a very small word for what you did for me.. But that's all I can say to you. Im thankful our paths crossed and we came in contact.. U my friend and my sister shall always have a special place in my heart as well as my prayers.<br />
</p>
<br />
<br />

<hr class="section-hr" />
<p>From Shiva:</p>
<p>I really really want to thank you for your help, wish you the best and wish I could do something in return...<br />
yours, Shiva</p>
