<!DOCTYPE html>
<html>
  <head>
    <title>USMLE Step 2 CS Coaching | <%= @title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="everything-but-footer">
      <header>
        <h1>USMLE Step 2 CS Coaching</h1>
      </header>
      <div class="nav_content">
        <nav>
          <ul>
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About course", about_path %></li>
            <li><%= link_to "Course outline", outline_path %></li>
            <li><%= link_to "Testimonials", testimonials_path %></li>
            <li><%= link_to "Contacts", contact_path %></li>
            <li><%= link_to "Payment", payment_path %></li>
          </ul>
        </nav>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <hr/>
      <p>© Copyright Armin Moradi 2011-2012</p>
    </footer>
  </body>
</html>
